*{
    box-sizing: border-box;
}
body {
    margin: 0;
}

main {
    border: 3px solid #ced4da;
    height: 43px;
    text-align: center;
    background-color: white;
   
}
div img {
    width: 115px;
    height: 35px;
}
#box1 {
    width: 432px;
    border: 2px solid #ced4da;
    border-radius: 12px;
    margin: 0 auto;
    text-align: center;
}
h2 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#box1 label {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#box1 input {
    width: 307px;
    height: 40px;
    border: 2px solid #ced4da;
    border-radius: 3px;
    font-size: medium;
}
#box1 input:focus {
    background-color: white ;
    outline-color: #20c997 ;
}
#box1 button {
    /*width: 307px;
    height: 40px;
    background-color: #ffaf1e ;
    border-color: #ffaf1e;
    color: white;*/
    width: 307px;
    height: 40px;
    border:solid 1px #ffaf1e;
    padding: 10px;
    background-color: #ffaf1e;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
#box1 p {
    font-family: Roboto,sans-serif;
}
#box1 p a {
    color: #20c997;

   
    
}
.errore{
    color: red;
    
  

}